.parent-nav {
  background-color: lightslategray;
  padding: 30px;
}

.parent-nav .nav-left {
  margin-left: 50px;
}

.parent-nav .nav-right {
  display: flex;
  position: absolute;
  right: 50px;
}

.parent-nav .register-nav {
  margin-right: 50px;
}

.parent-nav .nav-item a {
  color: #ffffff;
}