@import 'parts/navigationbar/NavigationBar';
@import 'parts/card/shopcard.scss';
@import 'parts/card/singlecard.scss';
@import 'pages/register/Register';
@import 'pages/login/Login';
@import 'pages/shop/shop.scss';
@import 'pages/product/product.scss';
@import 'pages/dashboard/admin/admindashboard/adminDashboard.scss'