@import 'parts/navigationbar/NavigationBar';
@import 'parts/footer/footer.scss';
@import 'parts/card/shopcard.scss';
@import 'parts/card/singlecard.scss';
@import 'pages/home/home.scss';
@import 'pages/register/Register';
@import 'pages/login/Login';
@import 'pages/shop/shop.scss';
@import 'pages/product/product.scss';
@import 'pages/dashboard/admin/admindashboard/adminDashboard.scss';
@import 'pages/dashboard/admin/createproduct/createProduct.scss';
@import 'pages/dashboard/user/userdashboard/userDashboard.scss';
@import 'pages/dashboard/user/useraccount/userAccount.scss';
@import 'pages/checkout/checkout.scss';
@import 'pages/cart/cart.scss';
@import 'components/cartDropdown/CartDropdown.scss'