.nav-parent {
  background-color: #eaeaea;
  padding: 30px;

  .nav-left {
    margin-left: 150px;

    .home {
      color: #000000;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .nav-user {
    display: flex;
    position: absolute;
    right: 200px;
    padding: 10px 10px 60px 10px;

    .fa-user-plus {
      font-size: 1.5rem;
    }
  }

  .nav-user:hover {
    color: #5076a0
  }

  .nav-checkout {
    display: flex;
    position: absolute;
    right: 150px;
    padding: 10px;

    .fa-shopping-cart {
      font-size: 1.5rem;
    }
  }

  .nav-checkout:hover {
    color: #5076a0
  }

  .register-nav {
    margin-right: 50px;
  }

  .nav-item {
    a {
      color: #ffffff;
    }
  }

  .hovered-register-login {
    position: absolute;
    right: 190px;
    top: 70px;
    padding: 10px 20px 10px 20px;
    background-color: #ffffff;
    border: 1px solid #BEBEBE;
    list-style: none;
    box-shadow: 5px 10px 8px #888888;

    li {
      color: #5076a0
    }
  }
}