.flex-rw {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: rgb(55, 55, 55);
  margin-top: auto;
  bottom: 0;
  width: 100%;
  padding-top: 10px;

  ul {
    list-style: none;
  }

  .footer-list-top {
    width: 50%;
  }

  .footer-list-top>li {
    text-align: center;
    padding-bottom: 10px;
  }

  .footer-list-header {
    padding: 10px 0 5px 0;
    color: #fff;
    font: 1.5em 'Oswald', sans-serif;
  }

  .footer-list {
    color: #fff;
  }

  .footer-list-anchor {
    font: 1.3em 'Open Sans', sans-serif;
  }

  .footer-bottom-section {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
  }

  .footer-bottom-section>div:first-child {
    margin-right: auto;
  }

  .footer-bottom-wrapper {
    margin: 0 auto;
    font-size: 1.5em;
    color: #fff;
  }

  .footer-address {
    display: inline;
    font-style: normal;
  }

  @media only screen and (max-width: 768px) {
    .footer-list-header {
      font-size: 2em;
    }

    .footer-list-anchor {
      font-size: 1.1em;
    }

    .footer-bottom-wrapper {
      font-size: 1.3em;
    }
  }

  @media only screen and (max-width: 568px) {
    main {
      font-size: 5em;
    }

    .footer-list-top {
      width: 100%;
    }

    .footer-list-header {
      font-size: 3em;
    }

    .footer-list-anchor {
      font-size: 1.5em;
    }

    .footer-bottom-section {
      padding: 0 5px 10px 5px;
    }

    .footer-bottom-wrapper {
      text-align: center;
      width: 100%;
      margin-top: 10px;
    }
  }

  @media only screen and (max-width: 480px) {
    .footer-bottom-rights {
      display: block;
    }
  }

  @media only screen and (max-width: 320px) {
    .footer-list-header {
      font-size: 2.2em;
    }

    .footer-list-anchor {
      font-size: 1.2em;
    }

    .footer-bottom-wrapper {
      font-size: 1.3em;
    }
  }
}