.parent-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 90vh;

  h1 {
    color: #5076A0;
    font-size: 15rem;
    margin-bottom: -30px;
  }

  p {
    font-size: 1.5rem;
    color: #606060;
  }
}