.alert {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 0!important;
  margin-bottom: 0!important;
  width: 100%;
  // display: flex;
  // top: 80px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .alert {
    top: 80px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .alert {
    top: 80px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .alert {
    top: 80px;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  .alert {
    top: 80px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .alert {
    top: 80px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .alert {
    top: 80px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (device-aspect-ratio: 4/3) {
  .alert {
    top: 100px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .alert {
    top: 100px;
  }
}