.alert {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 0!important;
  margin-bottom: 0!important;
  // display: flex;
  // top: 80px;
}