.cart-parent {
  width: 100%;
  display: flex;
  padding-bottom: 20px;

  .cart-list {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
  }
}