.parent-row-login {
  text-align: center;
  padding: 100px 0 50px 0;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .login-wrapper {
    background-color: #EAEAEA;
    width: 500px;
    max-width: 100%;
    padding: 50px;
    margin: 0 auto;
    border-radius: 10px;

    .login-title {
      font-size: 30px;
      color: 	#606060;
      font-weight: bold;
      margin-bottom: 25px;
    }

    .form-group {
      .form-control {
        border: none;
        border-radius: 0;
        padding: 9px 5px;
        min-height: 40px;
        font-size: 18px;
        font-weight: normal;
      }

      .form-control:focus {
        outline: none;
        box-shadow: none;
      }

      .form-control::placeholder {
        color: #b0adad;
      }

      .form-label {
        font-size: 14px;
        font-weight: bold;
        color:	#606060;
      }
    }

    .login-btn {
      padding: 13px 20px;
      background-color: #5076a0;
      border-radius: 0;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 14px;
    }

    .login-btn:focus {
      outline: none;
      box-shadow: none;
    }

    .login-btn:hover {
      border: 1px solid #5076a0;
      background-color: #48698f;
      color: #fff;
    }

    .signin-text {
      color: #5076a0;
      font-weight: bold;
    }

    p {
      font-weight: bold;
      color: #606060;

      a {
        text-decoration: none;
        color: #5076a0;
      }

      a:hover {
        color: #446488;
      }
    }
  }
}