.add-cart-jumbotron {
  text-align: center;
  background-color: #88bdbc!important;
  margin-top: 120px!important;
}

.parent-single-product {
  margin: 0 0 40px 0;

  .holder-add-cart {
    ul {
      li {
        span {
          font-weight: bold;
        }
      }
    }

    .parent-add-btn {
      text-align: right;
      
      .add-cart-btn {
        background-color: #5076a0!important;
        border-radius: 0;
        font-size: 20px;
        color: #fff;
        margin: 20px 0 20px 0;
        border: transparent;
      }
    
      .add-cart-btn:hover {
        background-color: #48698f!important;
        color: #fff;
      }
    } 
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .holder-add-cart {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .holder-add-cart {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .holder-add-cart {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  .holder-add-cart {
    margin-top: 30px;
  }
}

