.parent-single-product {
  margin: 120px 0 40px 0;
  
  .add-cart-btn {
    background-color: #5076a0!important;
    border-radius: 0;
    font-size: 20px;
    color: #fff;
    margin: 20px 0 20px 0;
    border: transparent;
  }

  .add-cart-btn:hover {
    background-color: #48698f!important;
    color: #fff;
  }
}

