.holder-add-to-cart-button {
  margin-top: 20px;

  .add-cart-btn {
    background-color: #5076a0;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px;
  }

  .add-cart-btn:focus {
    outline: none;
    box-shadow: none;
  }

  .add-cart-btn:hover {
    border: 1px solid #5076a0;
    background-color: #48698f;
    color: #fff;
  }
}