.checkout-jumbotron {
  text-align: center;
  background-color: #88bdbc!important;
  margin-top: 100px!important;
}

.holder-checkout-page {
  background: #fff;
  margin-bottom: 30px;

  .parent-checkout-page {
    border: 1px solid #bce8f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .checkout-heading {
      padding: 20px 0;
      background: #d9edf7;
      /* -webkit-border-top-left-radius: 10px; */
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 1px solid transparent;

      h3 {
        color: #2D2926;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
      }
    }

    .checkout-body {
      padding: 25px;
    }
  }
}

.holder-order-details {
  margin-bottom: 30px;

  .table {
    border: 1px solid #fff;
    border-collapse: collapse;

    .tr-header {
      th {
        padding: 21px 0;
        // border-top-left-radius: 10px!important;
        // border-top-right-radius: 10px!important;
        border-top: none;
        border-bottom: none;

        h3 {
          color: #2D2926;
          text-transform: uppercase;
          margin-bottom: 0;
        }
      }
    }

    tbody {
      tr {
        .remove-border {
          border-top: none;
        }

        .td-left {
          text-align: left;
        }
      
        .td-right {
          text-align: right;
        }
      }
    }
  
    
  }
}

.parent-order-button {
  text-align: right;

  .button {
    border-radius: 0!important;
    background-color: #5076a0!important;
    font-size: 20px;
    color: #fff;
    border: transparent;
  }

  .button:hover {
    background-color: #48698f!important;
    color: #fff;
  }
}