.heading-checkout {
  margin: 20px 0 20px 0;
  text-align: center;
}

.checkout-wrapper {
  // width: 300px;
  background-color: #EAEAEA;
  max-width: 100%;
  // padding-top: 48px;
  padding: 40px;
  padding-bottom: 24px;
  margin: 0 auto;

  .form-group {
    .form-control {
      border: none;
      border-bottom: 1px solid #e7e7e7;
      border-radius: 0;
      padding: 9px 5px;
      min-height: 40px;
      font-size: 18px;
      font-weight: normal;
    }

    .form-control:focus {
      outline: none;
      box-shadow: none;
      border-bottom: 1px solid #5076a0;
    }

    .form-control::placeholder {
      color: #b0adad;
    }

    .form-label {
      font-size: 14px;
      font-weight: bold;
      color: #b0adad;
    }
  }
}

.holder-payment {
  background-color: #EAEAEA;
  padding: 40px;
  z-index: -999;

  .checkout-product-count {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
  }

  .checkout-total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 30px 0;
  }

  .holder-place-order-button {

    .place-order-btn {
      background-color: #5076a0;
      border-radius: 0;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 14px;
    }

    .place-order-btn:focus {
      outline: none;
      box-shadow: none;
    }

    .place-order-btn:hover {
      border: 1px solid #5076a0;
      background-color:  #48698f;
      color: #fff;
    }
  }
}