.holder-manage-product {
  background: #fff;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 150px 0 50px 0;

  .parent-manage-product {
    border: 1px solid #bce8f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .manage-heading {
      padding: 20px 0;
      background: #d9edf7;
      /* -webkit-border-top-left-radius: 10px; */
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 1px solid transparent;

      h2 {
        color: #31708f;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
      }
    }

    .manage-body {
      padding: 25px;

      .tr-header {
        background-color: #6B6E70;
        
        .product-name {
          text-align: center;
        }
      }

      .fa-edit {
        cursor: pointer;
      }
    }
  }
}

// .admin-row-header {
//   padding: 20px;
//   background-color: #EAEAEA;
//   border: 1px solid #CECECE;
//   border-bottom: none;

//   .fa-black-tie {
//     font-size: 1.5rem;
//     margin-right: 10px;
//   }
// }

// .admin-row-body {
//   min-height: 650px;
//   border: 1px solid #CECECE;
//   margin-bottom: 50px;

//   .manage-product-holder {

//     h2 {
//       text-align: center;
//       margin: 20px 0 20px 0;
//     }

//   }
// }