.holder-manage-product {
  background: #fff;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 150px 0 100px 0;

  .parent-manage-product {
    border: 1px solid #bce8f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .manage-heading {
      padding: 20px 0;
      background: #d9edf7;
      /* -webkit-border-top-left-radius: 10px; */
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 1px solid transparent;

      h2 {
        color: #31708f;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
      }
    }

    .manage-body {
      padding: 40px 25px;
      position: relative;
      // min-height: 300px;

      .no-products {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      tr {
        td {
          text-align: left;
        }
      }

      .tr-header {
        background-color: #eaeaea;

        .product-name {
          text-align: left;
        }
      }

      .fa-edit {
        cursor: pointer;
      }
    }
  }

  .go-back {
    margin-top: 10px;
    text-align: center;

    .button-goback {
      border-radius: 0 !important;
      // background-color: #dc3544!important;
      // border-color: #dc3544!important;
    }

    // .button-goback:hover {
    //   background-color: #c82333!important;
    // }
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .holder-manage-product {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .holder-manage-product {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .holder-manage-product {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  .holder-manage-product {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .holder-manage-product {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 3) {
  .holder-manage-product {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (device-aspect-ratio: 4/3) {
  .holder-manage-product {
    padding: 150px 0 50px 0;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .holder-manage-product {
    padding: 150px 0 100px 0;
  }
}