.row-carousel {
  margin-right: 0!important;
  margin-left: 0!important;

  .carousel {
    margin-top: 26px;
  }
}



.parent-home {
  position: relative;
  width: 100%;
  // max-width: 400px;

  .big-image {
    width: 100%;
    height: auto;
  }

  .parent-home-image {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    .home-btn {
      padding: 13px 20px;
      background-color: #5076a0;
      border-radius: 0;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 14px;
    }

    .home-btn:focus {
      outline: none;
      box-shadow: none;
    }

    .home-btn:hover {
      border: 1px solid #5076a0;
      background-color: #fff;
      color: #5076a0;
    }
  }
}

.home-header {
  margin: 40px 0 30px 0;
  text-align: center;
  font-size: 3em;
}

.row-welcome {
  margin-right: 0!important;
  margin-left: 0!important;
  text-align: center;

  .child-home-icon {
    i {
      background-color: #5076A0;
      border-radius: 50%;
      padding: 20px;
      color: #fff;
    }

    h3 {
      margin-top: 10px;
    }
  }
}

.holder-most-popular {
  position: relative;

  .home-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
  }

  .child-most-popular::before {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: -30px;
    left: 0;
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #373737;
    width: 35%;
    height: 200px;
  }

  h2 {
    text-align: center;
    font-size: 3em;
  }
}

.mail-parent {
  display: block;
  background-color: #F8F9FA;

  .mail-container {
    display: flex;
    flex-direction: column;
  }

  .copy-wrapper {
    width: 100%;
    text-align: center;
    padding: 4.5rem 3.75rem;
    padding-bottom: 0;

    p {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 1.5px;
    }
  }

  .form-wrapper {
    width: 100%;
    text-align: center;
    padding: 4.5rem 0;
    padding-top: 0;

    .form-parent-mailing {
      display: flex;
      justify-content: center;

      input {
        border: none;
        // width: 300px;
        height: 50px;
        outline: none;
        padding-left: 10px;
      }

      button {
        height: 50px;
        background-color: #5076A0;
        color: #fff;
        padding: 0 10px;
        border: none;
        transition: all 0.3s ease-in-out;
      }

      button:hover {
        background-color: #48698f;
        color: #fff;
      }
    }
  }
}