.mail-parent {
  display: block;
  background-color: #F8F9FA;

  .mail-container {
    display: flex;
    flex-direction: column;
  }

  .copy-wrapper {
    width: 100%;
    text-align: center;
    padding: 4.5rem 3.75rem;
    padding-bottom: 0;

    p {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 1.5px;
    }
  }

  .form-wrapper {
    width: 100%;
    text-align: center;
    padding: 4.5rem 0;
    padding-top: 0;

    .form-parent-mailing {
      display: flex;
      justify-content: center;

      input {
        border: none;
        // width: 300px;
        height: 50px;
        outline: none;
        padding-left: 10px;
      }

      button {
        height: 50px;
        background-color: #5076A0;
        color: #fff;
        padding: 0 10px;
        border: none;
        transition: all 0.3s ease-in-out;
      }

      button:hover {
        background-color: #48698f;
        color: #fff;
      }
    }
  }
}