.carousel {
  margin-top: 26px;
}

.parent-home {
  position: relative;
  width: 100%;
  // max-width: 400px;

  .big-image {
    width: 100%;
    height: auto;
  }

  .parent-home-image {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    .home-btn {
      padding: 13px 20px;
      background-color: #5076a0;
      border-radius: 0;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 14px;
    }

    .home-btn:focus {
      outline: none;
      box-shadow: none;
    }

    .home-btn:hover {
      border: 1px solid #5076a0;
      background-color: #fff;
      color: #5076a0;
    }
  }
}

.home-header {
  margin-top: 40px;
  text-align: center;
  font-size: 3em;
}

.parent-home-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;

  // .child-home-icon {
  //   width: 30%;
  //   padding: 20px;
  // }
}

.holder-most-popular {
  position: relative;

  .child-most-popular::before {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: -30px;
    left: 0;
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #373737;
    width: 35%;
    height: 200px;
  }

  h2 {
    text-align: center;
    // padding-top: 20px;
    font-size: 3em;
  }
}