.holder-create-product {
  background: #fff;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 150px 0 50px 0;

  .parent-create-product {
    border: 1px solid #bce8f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .product-heading {
      padding: 20px 0;
      background: #d9edf7;
      /* -webkit-border-top-left-radius: 10px; */
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 1px solid transparent;

      h2 {
        color: #31708f;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
      }
    }

    .product-body {
      padding: 72px 25px;

      .image-upload {
        margin-bottom: 1rem;
      }

      .button-holder {
        text-align: center;

        .button {
          border-radius: 0 !important;
        }

        .cancel {
          display: inline-block;
          color: #fff;
          font-weight: 400;
          background-color: #dc3544;
          border-color: #dc3544;
          text-align: center;
          vertical-align: middle;
          border: 1px solid transparent;
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          line-height: 1.5;
          margin-right: 5px;
        }

        .cancel:hover {
          color: #fff;
          background-color: #c82333;
        }
      }
    }
  }
}