.holder-purchase-history {
  background: #fff;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 150px 0 50px 0;

  .parent-purchase-history {
    border: 1px solid #bce8f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .purchase-heading {
      padding: 20px 0;
      background: #d9edf7;
      /* -webkit-border-top-left-radius: 10px; */
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 1px solid transparent;

      h2 {
        color: #31708f;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
      }
    }
  }

  .purchase-body {
    padding: 25px;

    .purchase-history {
      margin: 20px 0 20px 0;
    }
  }

  .go-back {
    margin-top: 20px;
    text-align: center;

    .button-goback {
      border-radius: 0 !important;
      background-color: #dc3544!important;
      border-color: #dc3544!important;
    }

    .button-goback:hover {
      background-color: #c82333!important;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .holder-purchase-history {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .holder-purchase-history {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .holder-purchase-history {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  .holder-purchase-history {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .holder-purchase-history {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .holder-purchase-history {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (device-aspect-ratio: 4/3) {
  .holder-purchase-history {
    padding: 150px 0 50px 0;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .holder-purchase-history {
    padding: 120px 0 50px 0;
  }
}