.holder-create-category {
  background: #fff;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 150px 0 50px 0;

  .parent-create-category {
    border: 1px solid #bce8f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .category-heading {
      padding: 20px 0;
      background: #d9edf7;
      /* -webkit-border-top-left-radius: 10px; */
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 1px solid transparent;

      h2 {
        color: #31708f;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
      }
    }

    .category-body {
      padding: 72px 25px;

      .button-holder {
        text-align: center;

        .button {
          border-radius: 0 !important;
        }

        .cancel {
          display: inline-block;
          color: #fff;
          font-weight: 400;
          background-color: #dc3544;
          border-color: #dc3544;
          text-align: center;
          vertical-align: middle;
          border: 1px solid transparent;
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          line-height: 1.5;
          margin-right: 5px;
        }

        .cancel:hover {
          color: #fff;
          background-color: #c82333;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .holder-create-category {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .holder-create-category {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .holder-create-category {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .holder-create-category {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .holder-create-category {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 3) {
  .holder-create-category {
    padding: 100px 0 50px 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (device-aspect-ratio: 4/3) {
  .holder-create-category {
    padding: 150px 0 50px 0;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .holder-create-category {
    padding: 150px 0 50px 0;
  }
}