.category-holder {
  text-align: center;

  .button {
    border-radius: 0!important
  }
  
  .cancel {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    background-color: #DC3544;
    border-color:#DC3544;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .cancel:hover {
    color: #fff;
    background-color: #c82333;
  }
}


