@media only screen and (max-width: 600px) {
  .nav2-parent {
    background-color: #5076A0;

    .nav2-child {
      margin: auto;

      span, i {
        color: #fff;
        margin-left: 5px;
      }

      .total-badge {
        color: #5076A0;
        margin-left: 5px;
      }

      .nav-link {
        margin-left: 0.5rem !important;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .nav2-parent {
    background-color: #5076A0;

    .nav2-child {
      margin: auto;

      span, i {
        color: #fff;
        margin-left: 5px;
      }

      .total-badge {
        color: #5076A0;
        margin-left: 5px;
      }

      .nav-link {
        margin-left: 0.5rem !important;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .nav2-parent {
    background-color: #5076A0;

    .nav2-child {
      margin: auto;

      span, i {
        color: #fff;
        margin-left: 5px;
      }

      .total-badge {
        color: #5076A0;
        margin-left: 5px;
      }

      .nav-link {
        margin-left: 0.5rem !important;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .nav2-parent {
    background-color: #5076A0;
    transition: all 0.3s ease-in-out;
    height: 80px;

    .nav2-child {
      margin: auto;

      span {
        color: #fff;
        margin-left: 5px;
        font-family: 'Crimson Text', serif;
        font-size: 20px;
      }

      .total-badge {
        color: #5076A0;
        margin-left: 5px;
      }

      .nav-link:first-child {
        margin-left: 0.5rem !important;
      }

      .nav-link {
        margin-left: 6rem !important;
      }
    }
  }

  .nav2-parent.active {
    background-color: #F8F9FA;
    height: 70px;

    span, i {
      color: #485E5B;
    }

    .total-badge {
      color: #fff;
      background-color: #485E5B;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .nav2-parent {
    background-color: #5076A0;
    transition: all 0.3s ease-in-out;
    height: 80px;

    .nav2-child {
      margin: auto;

      span {
        color: #fff;
        margin-left: 5px;
        font-family: 'Crimson Text', serif;
        font-size: 20px;
      }

      .total-badge {
        color: #5076A0;
        margin-left: 5px;
      }

      .nav-link:first-child {
        margin-left: 0.5rem !important;
      }

      .nav-link {
        transition: .3s ease-in-out;
        margin-left: 6rem !important;
        font-size: 1rem;
      }

      .nav-link:hover {
        transform: scale(1.1);
      }
    }
  }

  .nav2-parent.active {
    background-color: #F8F9FA;
    height: 70px;

    span, i {
      color: #485E5B;
    }

    .total-badge {
      color: #fff;
      background-color: #485E5B;
    }
  }
}
