// @media (max-width: 800px - 1) {
//   .nav2-parent {
//     .nav2-child {
//       .nav-link {
//         margin-left: 0.5rem !important;
//       }
//     }
//   }
// }

// @media only screen and (min-width: 768px) {
//   .nav2-parent {
//     .nav2-child {
//       .nav-link {
//         margin-left: 0.5rem !important;
//       }
//     }
//   }
// }

@media only screen and (max-width: 600px) {
  .nav2-parent {
    .nav2-child {
      .nav-link {
        margin-left: 0.5rem !important;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .nav2-parent {
    .nav2-child {
      .nav-link {
        margin-left: 0.5rem !important;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .nav2-parent {
    .nav2-child {
      .nav-link {
        margin-left: 0.5rem !important;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .nav2-parent {
    .nav2-child {
      margin: auto;

      .nav-link:first-child {
        margin-left: 0.5rem !important;
      }

      .nav-link {
        margin-left: 10rem !important;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .nav2-parent {
    .nav2-child {
      margin: auto;

      .nav-link:first-child {
        margin-left: 0.5rem !important;
      }

      .nav-link {
        margin-left: 10rem !important;
      }
    }
  }
}

@media only screen and (orientation: landscape) {
  .nav2-parent {
    .nav2-child {
      .nav-link {
        margin-left: 0.5rem !important;
      }
    }
  }
}
