.table-parent {
  margin-top: 100px;
  border: 5px solid red;

  .cart-image {
    height: 5rem;
    // width: 10rem;
  }

  .empty-cart {
    text-align: center;
  }
}

.proceed-checkout {
  text-align: right;
}