.shopping-cart {
  margin-top: 120px;
  text-align: center;
  background-color: #88bdbc!important;
}

.table {
  border-collapse: collapse;

  .tr-header {
    background-color: #eaeaea;

    th {
      text-align: center;
      color: #212529;
      border-bottom: none;
    }
  }

  tr {
    td {
      text-align: center;
      vertical-align: middle;

      .fa-trash-alt {
        cursor: pointer;
      }
    }
  }

  .cart-card {
    border: 0;

    .cart-image {
      height: 5rem;
      width: 5rem;
    }
  }



  .empty-cart {
    text-align: center;
  }

  .no-border-right-td {
    border-right: 1px solid transparent;
  }

  .no-border-td {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
}

.proceed-checkout {
  display:flex;
  justify-content: flex-end;
  margin: -10px 0 50px 0;
  
  .checkout-btn {
    border-radius: 0 !important;
    background-color: #5076a0!important;
    font-size: 20px;
    border: none;
  }

  // .checkout-btn:focus {
  //   outline: none;
  //   box-shadow: none;
  // }

  .checkout-btn:hover {
    background-color: #48698f!important;
  }

  .login-checkout-btn {
    border-radius: 0 !important;
    background-color: #5076a0!important;
    font-size: 20px;
    border: none;
  }

  // .login-checkout-btn:focus {
  //   outline: none;
  //   box-shadow: none;
  // }

  .login-checkout-btn:hover {
    background-color: #48698f!important;
  }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) {
    .mobile-hide {
      display: none;
    }
}
