.shopping-cart {
  margin: 100px 0 30px 0;
  text-align: center;
}

.table {
  .cart-image {
    height: 5rem;
  }

  .empty-cart {
    text-align: center;
  }
}

.proceed-checkout {
  float: right;
  clear: both;

  .checkout-btn {
    border-radius: 0!important;
    background-color: #5076A0;
    font-size: 20px;
    border: none;
  }

  .checkout-btn:focus {
    outline: none;
    box-shadow: none;
  }

  .checkout-btn:hover {
    background-color:  #48698f;
    color: #fff;
  }

  .login-checkout-btn {
    border-radius: 0!important;
    background-color: #5076A0;
    font-size: 20px;
    border: none;
  }

  .login-checkout-btn:focus {
    outline: none;
    box-shadow: none;
  }

  .login-checkout-btn:hover {
    background-color:  #48698f;
    color: #fff;
  }
}