.holder-main {
  background-color: #eaeaea;

  .holder-nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;

    .nav-parent {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 65px;

      .nav-home {
        padding-right: 15px;

        a {
          text-decoration: none;
          font-size: 1.5rem;
          color: #5076a0;
        }
      }

      .nav-shop {
        padding-left: 15px;

        a {
          text-decoration: none;
          font-size: 1.5rem;
          color: #5076a0;
        }
      }

      .nav-site {
        margin-left: 35px;
        display: flex;
        align-items: center;

        .nav-search {
          margin-right: 10px;
          flex-basis: 1500px;

          .search-form {
            position: relative;
            margin-top: 3%;
            z-index: 50;

            .search-input {
              color: #646464;
              height: 32px;
              background-color: #c8c8c8;
              width: 500px;
              border: none;
              box-shadow: none;
            }
          }
        }

        .holder-user-icon {
          position: relative;
          height: 63px;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 18px;

          .fa-user-plus,
          .fa-id-card {
            font-size: 1.5rem;
          }

          .hovered-user-icon {
            position: absolute;
            right: -15px;
            top: 60px;
            padding: 10px 20px 10px 20px;
            background-color: #ffffff;
            border: 1px solid #bebebe;
            list-style: none;
            box-shadow: 5px 10px 8px #888888;
            z-index: 99;

            a {
              text-decoration: none;
              color: #808080;

              &.current {
                color: #5076a0;
              }
            }
          }

          .fa-user-plus:hover,
          .fa-id-card:hover {
            cursor: pointer;
          }
        }

        .holder-cart-icon {
          position: relative;
          height: 63px;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 18px;

          .fa-shopping-cart {
            font-size: 1.5rem;
          }

          .fa-shopping-cart:hover {
            color: #5076a0;
          }

          .hovered-cart-icon {
            position: absolute;
            right: -40px;
            top: 60px;
            padding: 10px 20px 10px 20px;
            background-color: #ffffff;
            border: 1px solid #bebebe;
            list-style: none;
            box-shadow: 5px 10px 8px #888888;
            z-index: 99;
          }
        }
      }
    }
  }
}