.admin-parent {
  margin: 120px 0 60px 0;

  .jumbotron {
    background-color: #88bdbc;
    text-align: center;
  }

  ul {
    li {
      a {
        text-decoration: none;
      }
    }
  }

  .list-group-item.active {
    z-index: 2;
    color: #212529;
    background-color: #eaeaea;
    border-color: #eaeaea;
    font-size: 1.3rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .user-information-parent {
    margin: 30px 0 30px 0;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .user-information-parent {
    margin: 30px 0 30px 0;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .user-information-parent {
    margin: 30px 0 30px 0;
  }
}