.admin-parent {
  margin: 120px 0 60px 0;

  .jumbotron {
    background-color: #88bdbc;
    text-align: center;
  }

  ul {
    li {
      a {
        text-decoration: none;
        color: #5076A0;
      }

      a:hover {
        color: #334B66;
      }
    }
  }

  .list-group-item.active {
    z-index: 2;
    color: #212529;
    background-color: #eaeaea;
    border-color: #eaeaea;
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .admin-information-parent {
    margin: 30px 0 30px 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .admin-information-parent {
    margin: 30px 0 30px 0;
  }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .admin-information-parent {
    margin: 30px 0 30px 0;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  .admin-information-parent {
    margin: 30px 0 30px 0;
  }
}
